<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/Logo/favicon.ico")" />
    <!-- new meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title SSI Contract Management </title>
    <!-- External jquery and css path reference variables -->
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/kendo/kendo.all.min.js"></script>
    <script src="@Url.Content("~/Scripts/AjaxLogin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.jeditable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/login.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.scrollTo-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/CustomAlert.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/messages/CommonAjaxHandler.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    @Html.Partial("_SSIURL")
    @Html.Partial("CMSLabels")
    <link href="@Url.Content("~/Content/css/Stylesheet.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/kendo.menu.ex.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/kendo.default.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="ssi-login" style="background:#dde7f6">
        @model SSI.ContractManagement.Web.Areas.Common.Models.LoginModel
        @{
            Layout = null;
        }
        @{
            ViewBag.Title = "Log in";
            <div id="login-logo">
                <!-- For showing SSI logos-->
                <div id="login-images">
                    <img src="@Url.Content("~/Content/images/SSI_logo.png")" alt="Login" style="width:234px; border-color:Transparent; margin-bottom: 32px; margin-top: 124px; margin-left: 136px;" />
                    @*<img style="width: 510px; height: 36px; margin-bottom: 20px" src="@Url.Content("~/Content/images/AR2.png")" alt="Login" />*@
                    <hgroup class="title">
                        @* <h1>@ViewBag.Title</h1>*@
                    </hgroup>
                </div>
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    <fieldset>
                        <input type="hidden" name="localdatetime" id="localdatetime">
                        <div id="login-container">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div id="login-details">
                                <label id="lbl-email">
                                    @Html.LabelFor(m => m.UserName)
                                </label>
                                <br />
                                @Html.TextBoxFor(m => m.UserName, new { tabindex = "1", id = "email-username" })
                                <br />
                                @Html.ValidationMessageFor(m => m.UserName)
                                <span id="lbl-error-message"></span>
                                <label id="lbl-password">
                                    @Html.LabelFor(m => m.Password)
                                </label>
                                <br />
                                @Html.PasswordFor(m => m.Password, new { tabindex = "2", id = "user-password" })
                                <br />

                            </div>
                            <div class="ssi-login-container">
                                <div id="recover-password">
                                    <input type="button" tabindex="4" id="btn-recover-password" onclick="GotoRecoverPasswordLink(); return false;" value="Forgot Password" />
                                </div>
                                <div id="div-login-submit">
                                    <input id="btn-login-submit" tabindex="3" type="submit" value="Log in" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
                <!-- For customer support information-->
                <div id="login-info">
                    <p style="text-align: center">
                        Customer Support: 1-800-820-4774 (24 Hours 7 Days a Week)
                        <br />
                        or <a href="https://auth.ssigroup.com/SSOS/Login/Login" target="_blank" id="HyperLink1">create an SSR Directly.</a>
                    </p>
                    <p>
                        By accessing this system you are authorized to use the contained information internally
                        within your organization and are bound to abide by local, state and federal privacy
                        and security policies. SSI disclaims responsibility for any consequences or liability
                        attributable to or related to use, non-use, or interpretation of information contained
                        or not contained in this product. Any use not authorized is prohibited, including
                        by way of illustration and not by way of limitation, making copies of the product
                        for resale and/or license, transferring copies to any party not bound by this agreement.
                        The scope of this agreement is determined by SSI, the copyright holder. End Users
                        do not act for or on behalf of SSI and as such SSI disclaims responsibility for
                        any liability attributable to end user use of this system.
                    </p>
                </div>
            </div>

        }
    </div>
    <script id="newcustomalert" type="text/x-kendo-template">
        <div>
            <p class="alert-msg"></p>
        </div>
        <div class="btn-conform">
            <input type="button" style="display:none" class="k-button OK-confirm" value="OK" />
            <input type="button" style="display:none" class="k-button cancel-confirm" value="Cancel" />
        </div>
    </script>
</body>
</html>
<script src="@Url.Content("~/Areas/Common/JavaScript/Login.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-login-submit').click(function () {
            if ($('#email-username').val() == '' || $('#user-password').val() == '') {
                $(".field-validation-error").hide();
                $("#lbl-error-message").show();
                $("#lbl-error-message").html('Email/Password is required.');
                return false;
            }
        })
    });
    setTimeout(function () {
        $("input:text:first").focus();
    }, 1000);
    
    $("#localdatetime").val(getCurrentDateTime());
    var trueConstant = "True";
    var isPasswordExpired = '@ViewBag.IsPasswordExpired'
    var accountLocked = '@ViewBag.AccountLocked'
    var invalidAccount = '@ViewBag.InvalidAccount'
    var userId = 0;
    if (invalidAccount == trueConstant) {
        registerGridPopup("Your login attempt was not successful. Please try again.", "OK");
    }
    if (accountLocked == trueConstant) {
        registerGridPopup("The user account has been locked. Please contact your administrator.", "OK");
    }
    if (isPasswordExpired == trueConstant) {
        userId = '@ViewBag.UserID'
        sendChangePassword();
    }
</script>

