@model SSI.ContractManagement.Web.Areas.Contract.Models.PaymentTypeCustomTableViewModel
@{
    Layout = null;
}

<div id="divCustomTableFormula">
    <div id="div-container">
    <div id="div-left-customTableformaula">
        <input type="hidden" name="hiddenPaymentTypeAscFeeContractId" id="hiddenPaymentTypeAscFeeContractId"
               data-bind="value: ContractId" />
        <input type="hidden" name="hiddenPaymentTypeAscFeeServiceTypeId" id="hiddenPaymentTypeAscFeeServiceTypeId"
               data-bind="value: ServiceTypeId" />
        <input type="hidden" name="hiddenPaymentTypeAscFeePaymentTypeId" id="hiddenPaymentTypeAscFeePaymentTypeId"
               data-bind="value: PaymentTypeId" class="filterPaymentTypeId" />
        <input type="hidden" name="hiddenASCFeeSchedulePaymentTypeDetailId" id="hiddenASCFeeSchedulePaymentTypeDetailId"
               data-bind="value: PaymentTypeDetailId" />
        <input type="hidden" name="hiddenModuleId" id="hiddenModuleId"
               data-bind="value: ModuleId" />
        <input type="hidden" name="hiddenTableHeaders" id="hiddenThreshold"
               data-bind="value: TableHeaders" />
        <div class="inputCustomfield">
            <label>Choose Table<span class="cms-requiredfields">*</span></label>
            <input id="txtChooseTable" placeholder="Select Table" data-bind="value: DocumentId" />
        </div>
        <div class="inputCustomfield">
            <label>Claim fields<span class="cms-requiredfields">*</span></label>
            <input id="txtCustomFields" class="k-dropdown" data-bind="value: ClaimFieldId" />
            <span>in </span>
            <span id="first-column-header"></span>
 </div>
        <div id="contain-tfields">
            <label>Table Fields</label>
            <div id="table-Fields">
                <ul id="available-fields" data-role="listview" data-bind="source: DocumentHeaders"></ul>
            </div>
        </div>
    </div>
        <div id="div-multipliers">
            <h4>Multipliers</h4>
            <div id="div-mulplers-container">
                <label>First:</label>
                <input id="txt-first-multiplier" class="k-textbox" data-bind="value:MultiplierFirst" maxlength="5000" /> <br/>
                <label>Second:</label>
                <input id="txt-second-multiplier" class="k-textbox" data-bind="value:MultiplierSecond" maxlength="5000" /> <br/>
                <label>Third:</label>
                <input id="txt-third-multiplier" class="k-textbox" data-bind="value:MultiplierThird" maxlength="5000" /> <br/>
                <label>Fourth:</label>
                <input id="txt-fourth-multiplier" class="k-textbox" data-bind="value:MultiplierFourth" maxlength="5000" /> <br/>
                <label>Others:</label>
                <input id="txt-others-multiplier" class="k-textbox" data-bind="value:MultiplierOther" maxlength="5000" /> <br/>
            </div>
        </div>
        </div>
    <div id="div-addtogrid">
        <input id="fields-addtogrid" type="image" src="@Url.Content("~/Content/images/Arrow%20right.png")" value="Add" />
    </div>
    <div id="div-formula">

        <label>Formula<span class="cms-requiredfields">*</span></label>
        <textarea id="txtChooseFormula" data-bind="value: Expression" class="k-textbox" cols="75" rows="10" maxlength="5000"></textarea>
        <img alt="Help" id="help-formula" class="help-formula" src="@Url.Content("~/Content/images/cms_help.png")" />
        <div id="float-formula" class="cmshideonload">
            @*The following div is for the triangle points from the floating box *@
            <div id="formula-pointer">
            </div>
            <div id="brief-formula">
                <p class="brief-formulatext">

                </p>
            </div>
        </div>
    </div>
    <div id="div-scope">
        <div id="div-scope-lable">
            <label>Scope </label></div>
       
        <div id="div-scope-checkbox">
            <label> <input id="checkbox-perday-stay" type="checkbox" data-bind="checked:IsPerDayOfStay" />Per Day of Stay</label>
            <label class="observeunit-margin-left"><input id="checkbox-observed-units" type="checkbox" data-bind="checked:IsObserveServiceUnit" />Observe Service Units Count</label><br/>
            <label> <input id="checkbox-per-code" type="checkbox" data-bind="checked:IsPerCode" />Per Code</label></div>
    </div>
    <div id="div-limit" class="limit-margin" >
        <label>Limit:</label> <input id="input-limit" type="text" class="k-textbox" disabled="disabled" data-bind="value:ObserveServiceUnitLimit" maxlength="5000" />
    </div>
    <div class="btn-save-close">

        <input id="btnFormulaSave" type="button" value="Save" class="k-button ptFormula" />

        @if (Model.IsEdit == true)
        {
            <input type="button" id="btnDeletetableFormula" value="Delete" class="k-button delete-filter" />
        }

    </div>
</div>

<script type="text/x-kendo-tmpl" id="header-list-template">
    <div data-bind="text: Text, value: Value">
        #:Text#<br />
    </div>
</script>

<script type="text/javascript">
    $("#txtCustomFields").kendoDropDownList({});
    $("#txtChooseTable").kendoComboBox({});

    viewmodelCustomPayment = kendo.observable({
        ContractId: '@Model.ContractId',
        ServiceTypeId: '@Model.ServiceTypeId',
        PaymentTypeId: '@Model.PaymentTypeId',
        ModuleId: '@Model.ModuleId',
        PaymentTypeDetailId: '@Model.PaymentTypeDetailId',
        Expression: '@Model.Expression',
        DocumentId: '@Model.DocumentId',
        ClaimFieldId: '@Model.ClaimFieldId',
        TableHeaders: '@Model.TableHeaders',
        MultiplierFirst:@Html.Raw(Json.Encode(Model.MultiplierFirst)),
        MultiplierSecond:@Html.Raw(Json.Encode(Model.MultiplierSecond)),
        MultiplierThird:@Html.Raw(Json.Encode(Model.MultiplierThird)),
        MultiplierFourth:@Html.Raw(Json.Encode(Model.MultiplierFourth)),
        MultiplierOther:@Html.Raw(Json.Encode(Model.MultiplierOther)),
        ObserveServiceUnitLimit:@Html.Raw(Json.Encode(Model.ObserveServiceUnitLimit)),
        IsObserveServiceUnit:@Json.Encode(Model.IsObserveServiceUnit),
        IsPerDayOfStay:@Json.Encode(Model.IsPerDayOfStay),
        IsPerCode:@Json.Encode(Model.IsPerCode)
        });

    kendo.bind($("#divCustomTableFormula"), viewmodelCustomPayment);

    //Check Box check on label click
    CheckBoxLabelClickEvent();

</script>
<script src="@Url.Content("~/Areas/Contract/JavaScript/PaymentTypeCustomTable.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Contract/JavaScript/ExpressionValidator.js")" type="text/javascript"></script>
