@model  SSI.ContractManagement.Web.Areas.Adjudication.Models.ClaimColumnOptionsViewModel
@{
    Layout = null;
}
@*Fixed-2016-R3-S2 : Rename availablecolumns to availableColumns.*@
<div id="availableColumns">
    <div>
        <div id="availableColumnsList">
            <label>
                Available Columns
            </label>
            <ul id="listAvailableColumns" data-role="listview" data-bind="source: AvailableColumnList"></ul>
        </div>

        <div class="mergebutton">
            <input id="btnAddColumn" type="image" src="@Url.Content("~/Content/images/next.png")" value="Add" />
            <input id="btnAddAllColumn" type="image" src="@Url.Content("~/Content/images/last.png")" value="AddAll" />
            <input id="btnRemoveColumn" type="image" src="@Url.Content("~/Content/images/previous.png")" value="Remove" />
            <input id="btnRemoveAllColumn" type="image" src="@Url.Content("~/Content/images/first.png")" value="RemoveAll" />
        </div>
        <div id="selectedColumnsList">
            <label>
                Selected Columns
            </label>
            <ul id="listSelectedColumns" data-role="listview" data-bind="source: SelectedColumnList"></ul>
        </div>
    </div>
    <div>
        @*Fixed-2016-R3-S2 : Rename ColumnsListfilter to columnsListFilter.*@
        <div id="columnsListFilter">
            <input id="btnColumnOptionUp" type="image" src="@Url.Content("~/Content/images/next.png")" value="Up" />
            <input id="btnColumnOptionDown" type="image" src="@Url.Content("~/Content/images/next.png")" value="Down" />
        </div>
    </div>
</div>
<div id="columns-controls">
    <input type="button" id="btnColumnOptionSave" value="Save" class="k-button" />
    <input type="button" id="btnColumnOptionCancel" value="Cancel" class="k-button" />
</div>
<script type="text/x-kendo-tmpl" id="AvailableColumnsTemplate">
    <div data-bind="text: ColumnName, value: ClaimColumnOptionId">
        #:ColumnName# <br />
    </div>
</script>
<!-- Selected List view Template -->
<script type="text/x-kendo-tmpl" id="SelectedColumnsTemplate">
    <div data-bind="text: ColumnName, value: ClaimColumnOptionId">
        #:ColumnName#
    </div>
</script>
<script src="~/Content/js/jquery.scrollTo-min.js"></script>
<script src="@Url.Content("~/Areas/Adjudication/JavaScript/OpenClaimColumnOption.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        availableClaimColumnList = @Html.Raw(Json.Encode(Model.AvailableColumnList));
        selectedClaimColumnList = @Html.Raw(Json.Encode(Model.SelectedColumnList));
        bindOpenClaimColumnModel(availableClaimColumnList,selectedClaimColumnList);
    });
</script>
